body {
  font: 12px sans-serif;
  text-align: center;
  margin: 20px;
}

button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  outline: none;
}

button.btn--primary {
  background-color: #007bff;
  color: white;
}

button.btn--secondary {
  background-color: #6c757d;
  color: white;
}

button.btn--full-width {
  width: 100%;
}

textarea {
  width: 100%;
  border-color: lightgray;
}

.content.hide {
  display: none;
}

.content--main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.code-field {
  flex-grow: 1;
}

#copyBtn {
  margin-top: 16px;
}
